---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling

CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: snake_case
  - key: readability-identifier-naming.FunctionCase
    value: snake_case
  - key: readability-identifier-naming.MacroCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumCase
    value: snake_case
  - key: readability-identifier-naming.StructCase
    value: snake_case
  - key: performance-unnecessary-value-param.IncludeStyle
    value: llvm

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
